

.code {
	font-family: var(--font-monospace), monospace;
}

.hl {
	border-bottom: 1px dashed lightgreen;
	color: green;
}

.example:hover {
	background: #eee;
}

.inline-code {
	font-family: var(--font-monospace), monospace;
	background: #eee;
    padding: 0 0.2em;
}

.selected {
	background: #eeffee;
}

